.home-container {
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
    background: #131010;
    position: relative
}

.home-container::-webkit-scrollbar{
    width:0px
}
    
.home-container::-webkit-scrollbar-track{
    background: transparent;
}

.home-container::-webkit-scrollbar-thumb{
    background: transparent;
}
