nav {
    padding: 5px;
    position: fixed;
    bottom: 0;
    width:100%;
    border-top: 1px solid #eee;
    z-index: 2;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin:0;
    padding: 10px
}

nav ul li{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    font-size:25px;
    font-weight: bold;
    transition: all .3s linear;
    color :#FFF;
    display: flex;
    justify-content: center;
    justify-items: center;
    cursor: pointer
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    display: flex;
    justify-content: center;
    justify-items: center;
}

nav ul li a:hover{
    color: #FFF
}

nav ul li.add {
    background: #eee;
    color: #131010;
    position: relative;
    border-radius: 10px;
    font-weight: bold;
}


nav ul li.add::after,
nav ul li.add::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
}

nav ul li.add::after {
    left: -5px;
    background: #ee2318;
}
nav ul li.add::before {
    background: #56f2ff;
    right: -5px;
}



